@{
    Layout = null;
    Layout = "~/Views/Shared/Dashboardlink.cshtml";
}

@model Category

@Html.Partial("Dashboardnavbar")


@if (TempData.ContainsKey("success"))
{
    <p class="text-success">
        @TempData["success"]
    </p>
}


<style>
    .form-group label {
        font-size: large;
        font-weight: bold;
    }
</style>

<div class="container-fluid mx-auto w-75 justify-content-center align-items-center">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group mx-auto fs-5 fw-bold">

            <div class="form-group justify-content-center align-items-center mx-auto mt-4">
                <input type="hidden" class="form-control shadow col-sm-12" id="Id" asp-for="Id" value="@Model.Id">
                <span class="text-danger" asp-validation-for="Id"></span>
            </div>

            <div class="form-group justify-content-center align-items-center mx-auto mt-4">
                <label for="Writter_Name">Name</label>
                <input type="text" class="form-control shadow col-sm-12" id="Name" asp-for="Name" value="@Model.Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="form-group  justify-content-center align-items-center mt-4">
                <label for="image">Image</label>
                <input type="file" class="form-control shadow col-sm-12" id="image" asp-for="Image" value="@Model.Image">
                <span class="text-danger" asp-validation-for="Image"></span>
            </div>

            <center>
                <button type="submit" class="btn btn-primary justify-content-center align-items-center mx-auto">Submit</button>
            </center>
        </div>
    </form>
</div>
